{% extends "learning_logs/base_bts.html" %}
{% block content %}
     <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

    <p>Add a new entry:</p>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>Add entry</button>
    </form>

{% endblock content %}

{#We show the topic at the top of the page, so the user can see which topic they’re adding an entry to.#}
{#The topic also acts as a link back to the main page for that topic#}