{% extends "learning_logs/base_bts.html" %}

{% block content %}
<p>Add a new topic:</p>

<form action="{% url 'learning_logs:new_topic' %}" method="post">
    {% csrf_token %}
{# template tag {% csrf_token %} is to prevent attackers#}
{# from using the form to gain unauthorized access to the server (this kind#}
    {#of attack is called a cross-site request forgery.) #}
    {{ form.as_p }}
    <button name="submit">Add topic</button>
</form>
{% endblock content %}
