{% extends "learning_logs/base_bts.html" %}
u {% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}
{% block content %}
    <ul>
        {% for topic in topics %}

            <li><h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <li><h3>No topics have been added yet.</h3></li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>
{% endblock content %}

{#We move the heading Topics#}
{#into the page_header block and give it a header styling instead of using the#}
{#simple paragraph tag. We style each topic as an <h3> element to make#}
{# them a little larger on the page and do the same for the link to add a new topic .#}